* {
  box-sizing: border-box;
}

body {
  touch-action: none;
  line-height: 1.5;
}

#container {
  position: relative;
  border-color: #fff;
  border-radius: 12px;
  background-color: #787878;
  width: 400px;
  height: 400px;
  border: 3px solid;
  padding: 1%;
  margin: 5% auto;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

.tile {
  position: absolute;
  width: 23%;
  height: 23%;
  border: 3px solid;
  border-color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 12px;
  color: #484848;
  margin: 1%;
  font-family: monospace;
  transition: top 75ms, left 75ms, opacity 200ms;
}

.row1 {
  top: 0%;
}

.row2 {
  top: 25%;
}

.row3 {
  top:50%;
}

.row4 {
  top: 75%
}

.col1 {
  left:0%;
}

.col2 {
  left:25%;
}

.col3 {
  left:50%;
}

.col4 {
  left:75%;
}

.val2 {
  background-color: #F5F5F5;
}

.val4 {
 background-color: lightpink;
}

.val8 {
 background-color: #66cccc;
}


.val16{
background-color: #cc0066;
color : #F5F5F5;
}

.val32{
  background-color: #ff6666;
  color : #F5F5F5;
}

.val64{
  background-color: #ffcc00;
}

.val128 {
  background-color: #552244;
  color : #F5F5F5;
}

.val256 {
  background-color: #f39422;
  color : #F5F5F5;
}

.val512 {
  background-color: #537ec5;
  color : #F5F5F5;
}

.val1024 {
 background-color: #293a80;
 color : #F5F5F5;
}

.val2048 {
  background-color: #010038;
  color : #F5F5F5;
}

#gameover {
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  text-align: center;
  text-decoration: none;
  display: none;
  position: absolute;
}

#gameover button {
  background-color: #555555;
  color: rgba(255, 255, 255, 1);
  border: 3px solid;
  font-size: 30px;
  border-radius: 12px;
  padding: 3% 5%;
  cursor: pointer;
}

#gameover p {
  color: #d9534f;
  font-size: 48px;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1366px)  {
  .tile-container {
    width: 500px;
    height: 500px;
    margin-top: 10%;
  }
}
